.middle{
    margin: auto;
    width: 60%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

table{
    border: 1px solid black;
    border-spacing: 1px;
}

table td{
    padding: 1px;
    border: 1px solid rgb(0,0,0);
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}
#table-2, #table-3{
    margin-top:50px;
}
p{
    margin:0;
    text-align: center;
    font-weight: 600;
}
#t-image>td{
    text-align: center;
}
#table-2 td{
    padding: 10px;
}
#table-3 td{
    padding: 10px;
}